<h1 class="m-3">
    Searching: <small>{{ query }}</small>
</h1>
<hr class="my-4">


<table class="table table-dark table-striped" *ngIf="user">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Subscriber ID</th>
          <th scope="col">Status</th>
          <th scope="col">Usage (MB)</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>{{user.SubscriberID}}</td>
          <td>{{user.Status}}</td>
          <td>{{(user.UsageBytes / 1048576) | number}} MB</td>
          <td>
            <a (click)="editUser(user.SubscriberID)" class="btn btn-secondary" >Edit</a>
            <a (click)="deleteUser(user.SubscriberID)" class="btn btn-danger" >X</a>
          </td>
        </tr>
      </tbody>
  </table>


<div class="row" *ngIf="!user">

    <div class="col-md-12">
        <div class="alert alert-info" role="alert"> There's not User with ID: <span class="display-6">{{ query }}</span></div>
    </div>
</div>